{{#if message}}

<h1 class="title">{{error.status}}</h1>
<h2 class="subtitle">{{message}}</h2>
{{#if error.stack}}
<figure class="highlight">
  <pre><code class="language-js" data-lang="js">{{error.stack}}</code></pre>
</figure>
{{/if}}

{{else}}

<figure class="highlight">
  <pre><code class="language-js" data-lang="js">{{error}}</code></pre>
</figure>

{{/if}}
