<h1 class="title">Tests</h1>

{{#if Tests.tests}}
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>
  </tfoot>
  <tbody>
    {{#eachInMap Tests.tests}}

    <tr>
      <td><a href="/tests/{{key}}">{{key}}</a></td>
      <td>{{value.description}}</td>
    </tr>

    {{/eachInMap}}
  </tbody>

</table>
{{else}}

No files :(

{{/if}}
