<h2 class="title">{{name}}</h2>

<hr>

{{#if setup}}

<h3 class="subtitle">Setup</h3>

<pre>
  <code class="lang-js" data-lang="js">
    {{setup}}
  </code>
</pre>

<hr>
{{/if}}

<h3 class="subtitle">Tests</h3>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th>Ops/sec</th>
    </tr>
  </thead>
  <tbody>
    {{#each suite}}
    <tr data-test="{{this.name}}">
      <td class="name">{{this.name}}</td>
      <td class="code">
        <pre>
          <code class="lang-js" data-lang="js">
            {{this.fnStr}}
          </code>
        </pre>
      </td>
      <td class="result">
        <strong class="subtitle"></strong>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>

<button class="button is-info is-outlined" id="run">Run</button>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
history.replaceState(document.title, null, location.pathname);

var socket = io.connect('http://localhost:8080/{{name}}_{{id}}');

document.querySelector('#run').onclick = function () {
  this.remove();

  socket.emit('run');
}

socket.on('progress', function (data) {
  var testName = data.test;
  var opsSec = data.hz;
  var error = data.error;


  const row = $('tr[data-test="' + testName + '"]');
  if (!row || !row.length) return console.error(data);
  const result = row.find('.result').addClass('notification');

  if (error) {
    result.addClass('is-danger').find('strong').text(error);
  } else {
    result.find('strong').addClass('is-5').text(opsSec);
  }
});

socket.on('complete', function (data) {
  var fastest = data.fastest; // array
  var slowest = data.slowest; // string

  fastest.forEach(function (test) {
    const row = $('tr[data-test="' + test + '"]');
    if (!row || !row.length) return;
    row.find('.result').addClass('is-success');
  });

  const slowestRow = $('tr[data-test="' + slowest + '"]');
  if (!slowestRow || !slowestRow.length) return;
  slowestRow.find('.result').addClass('is-warning');
});

</script>
